<footer class="body--footer">
    <div>
        <p class="body__footer--p">Desarrollador / Developer</p>
        <div>
            <a class="body__footer--aLinkedin" href="https://www.linkedin.com/in/cesar-bertalot-/" target="_blank">
                <i class="fa-brands fa-linkedin"></i> LinkedIn </a>
            <a class="body__footer--aGithub" href="https://github.com/CesarBerta" target="_blank">
                <i class="fa-brands fa-github"></i> GitHub </a>
        </div>
    </div>
</footer>